/** BOOTSTRAP OVERRIDE **/
/*.btn, .modal-content, .form-control {*/
    /*border-radius: 0;*/
/*}*/
.table > tbody > tr > td {
    vertical-align: middle;
}
.table > tbody > tr, .table > tbody > th {
    cursor: pointer;
}
.table > thead > tr {
    background-color: #4C4C4C;
    color: white;
}
#waiting {
    display: none;
}
.gameContainer {
    background-color: #E2E2E2;
    transition: 0.5s;
}
.gameContainer:hover {
    background-color: #7c7c7c;
    transition: 0.5s;
}
.platform {
    border-radius: 3px;
    font-weight: bold;
    height: 20px;
    text-align: center;
    width: 35px;
}
.ps1 {
    background-color: #C0C0C0;
    color: #000;
}
.pc {
    background-color: #000000;
    color: #ffffff;
}

/** MARGINS & PADDINGS**/
.m5 {
    margin: 5px;
}
.m10 {
    margin: 10px;
}
.m20 {
    margin: 20px;
}
.mt5 {
    margin-top: 5px;
}
.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mb5 {
    margin-bottom: 5px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb20 {
    margin-bottom: 20px;
}
.p5 {
    padding: 5px;
}
.p10 {
    padding: 10px;
}
.p20 {
    padding: 20px;
}
.pt5 {
    padding-top: 5px;
}
.pt10 {
    padding-top: 10px;
}
.pt20 {
    padding-top: 20px;
}
.pb5 {
    padding-bottom: 5px;
}
.pb10 {
    padding-bottom: 10px;
}
.pb20 {
    padding-bottom: 20px;
}
